<ul>
    <li><b>Địa điểm xây dựng: </b><span>Ấp Bình Tiền 2 – Xã Đức Hòa Hạ - Huyện Đức Hòa – Tỉnh Long An.</span></li>
    <li><b>Chủ đầu tư: </b><span>Chủ đầu tư</span></li>
    <li><b>Đơn vị thiết kế: </b><span>DNTN Quốc Khanh</span></li>
    <li><b>Đơn vị thi công: </b><span>DNTN Quốc Khanh</span></li>
    <li><b>Ngày khởi công: </b><span>03/05/2016</span></li>
    <li><b>Ngày hoàn thành: </b><span>03/05/2017</span></li>
    <li><b>Diện tích nền trệt: </b><span>150m x 400m</span></li>
</ul>
<p>
    <b>Vị trí Khu công nghiệp</b> <br />
    Đức Hòa là vùng kinh tế trọng điểm phía nam, nơi "đất lành chim đậu”, cách quốc lộ 1A 12km, cách xã Bình Lợi, huyện Bình Chánh, Tp. HCM 3km, giao thông thuận lợi tạo điều kiện cho nhiều nhà đầu tư, doanh nghiệp chọn địa điểm đầu tư phát triển kinh tế, đặc biệt là công nghiệp.
</p>
<p>
    <b>Hạ tầng kỹ thuật</b> <br />
    Địa chất rất tốt bao gồm đất, sét, sỏi, dưới tầng móng do đó chi phí đầu tư để xây dựng nhà xưởng giảm, thấp so với các khu vực khác là 30%. Đường chính dẫn vào khu công nghiệp rộng 26m, bao gồm lề, hai bên vỉa hè có cây xanh nhiều bóng mát, các đường phụ rộng 22m.
</p>
<p>
    <b>Đầu tư kinh doanh khu công nghiệp</b> <br />
    Công ty TNHH Hải Sơn là chủ đầu tư cơ sở hạ tầng với hình thức giao đất có đóng tiền sử dụng đất, chuyển mục đích sử dụng toàn bộ cho các doanh nghiệp đến đầu tư. Tất cả các chi phí đóng tiền sử dụng đất do công ty Hải Sơn chi trả và chịu trách nhiệm lập thủ tục đăng ký GPKD và thủ tục chuyển quyền sử dụng đất trong thời gian sớm nhất nhằm tạo điều kiện thuận lợi cho các doanh nghiệp có nhiều cơ hội để chọn điểm dừng là khu công nghiệp Hải Sơn. Bên cạnh đó giá chuyển nhượng hợp lý so với các khu vực khác.
</p>