<div class="left">
    <div class="head">
        <h1>GIỚI THIỆU <span>DOANH NGHIỆP QUỐC KHANH</span></h1>
    </div>
    <p>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue....<a href="about-us.aspx">xem thêm</a></p>
</div>
<div class="right">
    <div class="item-cate">
        <div class="item">
            <div class="img">
                <img src="assets/images/gt1.png" alt="" />
            </div>
            <p>
                Uy tín, <br />
                Chất lượng
            </p>
        </div>
        <div class="item">
            <div class="img">
                <img src="assets/images/gt2.png" alt="" />
            </div>
            <p>Trang thiết bị tiên tiến</p>
        </div>
        <div class="item">
            <div class="img">
                <img src="assets/images/gt3.png" alt="" />
            </div>
            <p>Đội ngũ kỹ thuật chuyên môn cao</p>
        </div>
    </div>
</div>